<launch>
    <!-- 不使用仿真时间 -->
    <param name="/use_sim_time" value="false" />

<!--    &lt;!&ndash; 启动arbotix driver&ndash;&gt;-->
    <arg name="sim" default="true" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find model_source)/urdf/xacro/robot_model.urdf.xacro'" />

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <!-- 启动rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/Config/urdf.rviz" required="true"/>

</launch>
